text {
  font-size: 4px; 
  /* Adjust font size as needed */
  /* font-weight: bold; */
  fill: black; /* Text color */
  dominant-baseline: central; /* Vertical alignment */
  text-anchor: middle; /* Horizontal alignment */
}

/* Style for the SVG container */
.pie-chart-container {
  width: 10%;
  margin: 20px;
  margin-top: -280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-chart{
  margin: 350px;
  margin-right: -1500px;
  margin-bottom: -1500px;
}

/* Style for the legend (optional) */
.legend {
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Adjust the margin as needed */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* Adjust the margin as needed */
}

.legend-color {
  width: 20px; /* Adjust the width as needed */
  height: 20px;
  margin-right: 8px; /* Adjust the margin as needed */
  border-radius: 50%;
}

